.claude/
.ipynb_checkpoints/
__pycache__/


models/*
!models/stage2_best.pth
!models/yolo/
models/yolo/*
!models/yolo/weights/
models/yolo/weights/*
!models/yolo/weights/best.pt

stage2_data/

yolo_data/
yolo_data.zip

data_leak.py
gpu_check.py

tempCodeRunnerFile.py
test_predictions.txt